<div class="author">
    <h1 class="author__heading">Hi, I am Minh Bao.</h1>
    <p class="author__body">Final-year student majoring in Computer Engineering</p>
</div>

<img src="/img/bkavt.jpg" alt="BachKhoa funny student" class="bachkhoa-image" width="700" height="300">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="articles__ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="articles-list__date">Date</span>
            </a>

        </li>
    </ul>
    <a href="#" class="pagination">&lt; View Older Posts</a>



</section>

