<div class="author">
    <h1 class="author__heading">Hi, I am Minh Bao.</h1>
    <p class="author__body">Final-year student majoring in Computer Engineering</p>
</div>

<img src="/img/bkavt.jpg" alt="BachKhoa funny student" class="bachkhoa-image" width="700" height="300">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="articles__ul">

        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="articles-list__date"><%= post.createdAt.toDateString() %></span>
            </a>

        </li>

        <% }) %>
        
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
     
    <% } %>
    



</section>

